body {
    background: var(--yellow);
}


/* TITLE */

#title {
    /* position */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;

    /* font */
    font-weight: 700;
    font-size: 3.3vw;

    /* color */
    color: var(--black);

    /* cursor interaction */
    user-select: none;
}

#title :nth-child(2) {
    font-family: 'Roboto Mono', sans-serif;
}

#title :nth-child(3) {
    transition: .1s ease-in-out;
}


/* DOWNLOAD BUTTON */

#downloadButton {
    /* position */
    position: absolute;
    top: 5%;
    right: 5%;

    /* size */
    width: 15%;
    height: 8%;

    /* borders */
    border-radius: 1vw;

    /* colors */
    background: var(--white);
    color: var(--black);

    /* align the text in the center */
    display: flex;
    align-items: center;
    justify-content: center;

    /* font */
    font-size: .7vw;

    /* transition on hover */
    transition: .3s ease-in-out;
}

#downloadButton:hover {
    background: var(--black);
    color: var(--white);
}


/* TERMINAL */

#terminalBackground {
    /* position */
    position: absolute;
    width: 65vw;
    top: 20%;
    right: 10vw;

    /* cursor interaction */
    -webkit-user-drag: none;
}

#terminalMenuContainer {
    /* position */
    position: absolute;

    /* size */
    width: 9vw;
    height: 32vw;

    /* cursor interaction */
    -webkit-user-drag: none;

    /* container properties */
    display: flex;
    align-items: center;
    justify-content: center;

    /* misc */
    transition: .3s ease-in-out;
    margin-top: -10px;
    margin-left: -20px;
    padding: 10px 20px;
    border-radius: 30px;
    overflow: hidden;
}

#terminalMenu {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

/* SIDE MENU */

.sideMenu {
    /* position */
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    /* size */
    height: 70%;
    width: 20%;

    /* container properties */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sideMenu h1 {
    position: relative;
    color: var(--black);
    padding: 2vh 0;
    transition: .3s ease-in-out;
    font-size: 1.5vw;
}

.sideMenu h1:hover {
    padding-left: 1vw;
}

.sideMenu h1::after {
    content: '';

    /* position */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-3vw, -50%);

    /* size */
    width: 1.5vw;
    height: 1.5vw;

    /* misc */
    border-radius: 100%;
    border: 1px solid var(--black);
    transition: .3s ease-in-out;
}

.sideMenu h1.selected::after {
    border: 1px solid transparent;
    background: var(--black);
}

#menuProgressBar {
    content: '';

    /* position */
    position: absolute;
    left: -2.45vw;
    top: 3.3vh;

    /* size */
    height: 0;
    width: .5vw;

    /* misc */
    background: var(--black);
    transition: .3s ease-in-out;
}


/* WRAPPER */

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.side-container {
    /* position */
    position: absolute;
    right: 0;
    top: 0;

    /* size */
    width: 75%;
    height: 100%;
}